.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 5px;
}
.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(74, 96, 161, 1);
    color: #eee;
    border-color : #edeff4
}
.pagination button.active {
    width: 42px;
    height: 42px;
    font-weight: 900;
    border-color: #101010;
    background: #172754;
    color: #eee;
}
  