.histrory-card {
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.list-group-item {
  padding: 20px;
}

.item-image img {
  width: 50%;
  max-height: 200px;
  object-fit: contain;
  margin-left: 5px;
}

.item-details {
  margin-top: 10px;
  margin-left: 50px;
  
}

.item-details .item-name {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.item-details .item-description {
  margin-top: 10px;
}

.item-bid-details {
  margin-top: 90px;
  margin-right: 20px;
  margin-left: 160px;
}

.item-bid-details p {
  margin-bottom: 5px;
}

.card-header h2 , h1{
  font-weight: bold;
  color: white;
}

.card-header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #1D3557;
  text-align: center;
}