body.active-modal {
  overflow-y: hidden;
}

.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(200,200, 200, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}

.confirm-bid-card {
    /*display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    min-width: 500px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .modalCloseBtn{
    display: flex;
    justify-content: flex-end;

  }
  .modalCloseBtn button{
    font-size: 25px;
  }
  .confirm-bid-card__image {
    margin-bottom: 20px;
  }
  
  .confirm-bid-card__image img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 200px;
  }
  
  .confirm-bid-card__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  
  .confirm-bid-card__details h2 {
    margin-top: 0;
  }
  
  .confirm-bid-card__details p {
    margin-bottom: 10px;
  }
  
  .confirm-bid-card__button {
    padding: 10px 20px;
    border: none;
    background-color: #ffa200;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .confirm-bid-card__button:hover {
      color: #ecf0f1;
  }
  .confirm-bid-card__button-cancel:hover {
    color: #ecf0f1;
  }
  .confirm-bid-card__button-cancel{
    background-color:crimson;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
